.my-goals {
    margin-left: 3rem;
}

.box {
    background-color: #D9D9D9;
    margin-right: 3rem;
    margin-top: 1rem;
    padding: 2rem;
}

.my-goals ul {
    display:flex;
    flex-direction: column;
    margin-left: 1rem;
}

.my-goals li {
    font-size: 16px;
}

.my-goals button{
    margin-top: 1rem;
    min-width: 200px;
}

.my-goals-2 {
    margin-left: 3rem;
}

.my-goals-2 .habit-names {
    display:flex;
    flex-direction: column;
    width: 460px;
    max-height: 240px;
    overflow: auto;
   
}

.my-goals-2 .habit-checklist {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #D9D9D9;
    width: 480px;
    padding: 16px;
}

.my-goals-2 input[type="checkbox"] {
    margin-right: 4px;
}

.my-goals-2 .checklist-submit-button {
    margin-top: 10px;
}

